@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;500;600;700;800&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
	font-family: Inter, cursive;
}
* {
	font-family: inherit;
}

.orange-line {
	@apply h-[2px] my-6 w-16 bg-orange;
}
.small-text-grey {
	@apply text-sm md:text-lg text-center font-Baloo text-dark;
}
.small-text-grey--left {
	@apply text-sm md:text-lg text-left font-Baloo text-dark;
}
.border-card {
	border: 1px solid #ff913a;
}

.page-padding {
	/* @apply md:px-16 lg:px-[6rem] xl:px-0 xl:w-[1024px] xl:mx-auto xxl:w-[1240px] xxxl:w-[1440px]; */
	padding: 0 1rem;
}
@media (min-width: 976px) {
	.page-padding {
		padding: 0 6rem;
	}
}
@media (min-width: 1100px) {
	.page-padding {
		width: 1024px;
		padding: 0;
		margin-left: auto;
		margin-right: auto;
	}
}
@media (min-width: 1300px) {
	.page-padding {
		width: 1240px;
	}
}
/* @media (min-width: 1500px) {
	.page-padding {
		width: 1240px;
	}
} */

/* .swiper-pagination {
	bottom: -50px;
} */
/* .swiper .swiper-button-next {
	right: -100px;
} */

/* swiper */

.swiper-button-next::after,
.swiper-button-prev::after {
	font-size: 20px !important;
	color: #ff913a !important;
	border: 2px solid #ff913a;
	border-radius: 50%;
	min-height: 46px;
	min-width: 46px;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (max-width: 500px) {
	.swiper-button-next::after,
	.swiper-button-prev::after {
		display: none !important;
	}
}

.swiper-button-next,
.swiper-button-prev {
	top: 42% !important;
}
.swiper-pagination-bullet {
	border: 2px solid #ff913a;
	opacity: 1 !important;
	height: 15px !important;
	width: 15px !important;
	background-color: white !important;
}
.swiper-pagination-bullet-active {
	background-color: #ff913a !important;
}

.aspect-wrapper {
	padding: 10px;
	background: white;
	box-sizing: border-box;
	resize: horizontal;
	border: 1px dashed;
	overflow: auto;
	max-width: 100%;
	height: calc(100vh - 16px);
}
.aspect-item {
	width: 100%;
	padding-bottom: 75%;
}

.image-wrapper--orange {
	width: 95%;
	margin-bottom: 50px;
	position: relative;
	margin-top: 20px;
}
.image-wrapper--orange:before {
	content: '';
	height: 95%;
	width: 95%;
	background-color: #ff913a;
	position: absolute;
	right: -5%;
	bottom: -5%;
}
.image-wrapper--blue {
	width: 95%;
	margin-bottom: 25px;
	position: relative;
	margin-top: 20px;
}
.image-wrapper--blue:before {
	content: '';
	height: 95%;
	width: 95%;
	background-color: #0083a0;
	position: absolute;
	right: -5%;
	bottom: -5%;
}

.image-border-radius-bl:before {
	border-bottom-left-radius: 20px;
}
.image-border-radius-bl {
	border-bottom-left-radius: 20px;
}
.image-border-radius-br {
	border-bottom-right-radius: 20px;
}
.image-border-radius-br:before {
	border-bottom-right-radius: 20px;
}

.image-wrapper__projects--orange {
	width: 95%;
	margin-bottom: 50px;
	position: relative;
	/* margin-top: 20px; */
}
.image-wrapper__projects--orange:before {
	content: '';
	height: 95%;
	width: 95%;
	background-color: #ff913a;
	position: absolute;
	right: -5%;
	bottom: -5%;
}
.image-wrapper__projects--orange--blue:before {
	content: '';
	height: 95%;
	width: 95%;
	background-color: #0083a0;
	position: absolute;
	right: -5%;
	bottom: -5%;
}
.image-wrapper__projects--blue:before {
	content: '';
	height: 95%;
	width: 95%;
	background-color: #0083a0;
	position: absolute;
	right: -5%;
	bottom: -5%;
}
