@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;500;600;700;800&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
	font-family: Inter, cursive;
}
* {
	font-family: inherit;
}

.orange-line {
	@apply h-[2px] my-4 w-16 bg-orange;
}
.small-text-grey {
	@apply text-sm md:text-lg text-center font-Baloo text-grey;
}
.border-card {
	border: 1px solid #ff913a;
}
